// Insert Data work links
a.lined2 {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  padding-bottom: 0px !important;
  border-bottom: 2px solid #888888;
  transform: skew(52deg) translateX(-50%);
}

// mediumurl link
a.mu {
  text-decoration: none;
  padding-bottom: 0px !important;
  border-bottom: 2px solid #a85047;
  transform: skew(52deg) translateX(-50%);
}

// boldest text
.boldertxt { 
  font-weight: 800 !important;
}

// Import new fonts:
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Roboto', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Space Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap');

// Table of Contents button color toggle opened
.ui.post.button:hover,
.ui.post.button:active,
.ui.post.button:focus {
  background: #E0E1E2 none;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}

// Mobile Only Hide
@media only screen and (max-width: 767px) {
  .mobileonly-hide {
    display: none !important;
  }
}

// Custom menu (https://tachyons.io/components/nav/logo-links-inline-collapse/index.html)
.border-box {
    box-sizing: border-box;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.w-logo {
    width: 5.1em;
}

.w-100 {
    width: 100%;
}

.pa3 {
    padding: 1em;
}

.mr3 {
    margin-right: 0.775em;
}

.mb2 {
    margin-bottom: .5em;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875em;
}

.v-mid {
    vertical-align: middle;
}

@media screen and (min-width: 60em) {
    .dt-l {
        display: table;
    }

    .dtc-l {
        display: table-cell;
    }

    .w-25-l {
        width: 25%;
    }

    .w-75-l {
        width: 75%;
    }

    .ph5-l {
        padding-left: 8em;   // was originally 4em;
        padding-right: 8em;  // was originally 4em;
    }

    .mr4-l {
        margin-right: 2em;
    }

    .mb0-l {
        margin-bottom: 0;
    }

    .tl-l {
        text-align: left;
    }

    .tr-l {
        text-align: right;
    }

    .f5-l {
        font-size: 1em;
    }
}
