---
# Provide front matter so Jekyll processes this file as SASS.
---
// Put your custom CSS here if you want to override the defaults.

// Website background change+fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');
html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  line-height: 1.5;
  background-color: #f2f2f2;
}

hr {
  border-top: 1px black solid;
}

// General links
a {
  color: #3B444B;
  &:hover {
    color: #454545;
  }
}

a.lined {
  text-decoration: none;
  border-bottom: 1px solid #454545;
}

// Insert Data work links
a.lined2 {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  padding-bottom: 0px !important;
  border-bottom: 2px solid #647879;
  transform: skew(-12deg) translateX(-50%);
}

// links homepage 
a.home {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  padding-bottom: 0px !important;
  border-bottom: 2px solid #C0736B;
  transform: skew(52deg) translateX(-50%);
}

// mediumurl link
a.mu {
  text-decoration: none;
  padding-bottom: 0px !important;
  border-bottom: 2px solid #a85047;
  transform: skew(52deg) translateX(-50%);
}

// boldest text
.boldertxt { 
  font-weight: 800 !important;
}

// home header on large screen
@media screen and (min-width: 60em) {
  .intro-l {
    font-size: 2.5em !important;
  }
  .intro-l2 {
    font-size: 2em !important;
  }
}

// Import new fonts:
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Roboto', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Space Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap');


// Menubar
.ui.secondary.custom.menu {
  font-family: 'Space Mono', monospace;
  font-size: 17px !important;
  display: none;
  display: inline-flex;
} 
.ui.menu .mycolor.active.item,
.ui.mycolor.menu .active.item {
  background: #454545;
  color: white !important;
}
.ui.secondary.custom.menu .item {
  font-weight: bold;
  padding: 0.475em; // space within buttons
}


// On #f2f2f2 bg-page transparent card
.ui.doorzichtig.cards > .card,
.ui.cards > .doorzichtig.card,
.ui.doorzichtig.card {
  box-shadow: 0px 0px 0px 1px transparent, 0px 2px 0px 0px transparent, 0px 1px 3px 0px transparent;
  background-color: transparent;
}
.ui.doorzichtig.cards > .card:hover,
.ui.cards > .doorzichtig.card:hover,
.ui.doorzichtig.card:hover {
  background: #E0E1E2;
  box-shadow: 0px 0px 0px 1px #647879, 0px 2px 0px 0px #647879, 0px 1px 3px 0px #647879;
}
// active filter menu posts
.ui.menu .view.active.item,
.ui.view.menu .active.item {
  font-weight: bold !important;
}

// Table of Contents button color toggle opened
// .ui.post.button:hover,
.ui.post.button:focus {
  background: #E0E1E2 none;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}

// Insert Data menu
.ui.secondary.pointing.menu .active.item {
  border-bottom-width: 3px;
}

// hand outline waving icon rotate
i.rotated.icon,
i.right.rotated.icon,
i.clockwise.rotated.icon {
  -webkit-transform: rotate(-45deg); 
  transform: rotate(-45deg);
}
// class="inline-img" tools about page
.inline-img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 1em;
}
// tools section images
.tools-img {
  border-radius: 100%;
  height: 3em;
  width: 3em;
  vertical-align: middle;
  margin-right: 12px; 
  border: 1px solid black;
}

// profil image about page
.custom-divider-image {
  width: 90px; /* set the desired width of the image */
  height: 90px; /* set the desired height of the image */
  object-fit: cover; /* to ensure the image is centered and fills the available space */
  border-radius: 25%; /* to make the image circular */
  border: 1px solid black;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

// at the bottom of its container
.ui.bottomm.image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

// Blockquotes in markdown
blockquote { 
  border-left: 3px solid #1F1F1F;
  padding-left: 18px;
}

// mediumurl buttons
.ui.mu.buttons .button,
.ui.mu.button {
  color: black !important;
  font-family: 'Source Code Pro', monospace !important;
}

// Blogpost tags
.ui.basic.mytag.labels .label,
.ui.basic.mytag.label {
  background-color: #E0E1E2 !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

// List font-size about page 
ul.ui.list li,
ol.ui.list li,
.ui.list > .item,
.ui.list .list > .item { 
  line-height: 1.5;
  font-size: 17px;
}

.ui.list .list > .item > .content,
.ui.list > .item > .content {
  line-height: 1.5;
}

ul.ui.list li:before,
.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before {
 // color: #656565;
  vertical-align: middle;
}


// Tabular menu about page
.ui.tabular.menu { 
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
// active item about me menu
.ui.menu .myy.active.item,
.ui.myy.menu .active.item {
  font-weight: bold;
  color: #458588 !important;
}
// bordered icon about page
i.bordered.icon {
  box-shadow: 0em 0em 0em 0.1em #A45A52 inset;
}

// no top space 
.no-top {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

// Mobile Only Hide
@media only screen and (max-width: 767px) {
  .mobileonly-hide {
    display: none !important;
  }
}

// Custom menu (https://tachyons.io/components/nav/logo-links-inline-collapse/index.html)
.border-box {
    box-sizing: border-box;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.w-logo {
    width: 5em;
}

.w-100 {
    width: 100%;
}

.pa3 {
    padding: 1em;
}

.mr3 {
    margin-right: 0.775em;
}

.mb2 {
    margin-bottom: .5em;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875em;
}

.v-mid {
    vertical-align: middle;
}

@media screen and (min-width: 60em) {
    .dt-l {
        display: table;
    }

    .dtc-l {
        display: table-cell;
    }

    .w-25-l {
        width: 25%;
    }

    .w-75-l {
        width: 75%;
    }

    .ph5-l {
        padding-left: 8em;   // was originally 4em;
        padding-right: 8em;  // was originally 4em;
    }

    .mr4-l {
        margin-right: 2em;
    }

    .mb0-l {
        margin-bottom: 0;
    }

    .tl-l {
        text-align: left;
    }

    .tr-l {
        text-align: right;
    }

    .f5-l {
        font-size: 1em;
    }
}
/*******************************
           ----
*******************************/

// footer (https://tachyons.io/components/layout/three-column-collapse-one)
@media screen and (min-width: 30em) {
    .dt-ns {
        display: table;
    }

    .dtc-ns {
        display: table-cell;
    }
}
/*******************************
           ----
*******************************/


// Vanaf nu cloned
:root {
  --scrollbackground: #f2f2f2;
  --scrollcolor: #454545;
}

.breadlink {
  color: #01868B !important;
  font-weight: bold;
}

.breadlink:hover {
  color: #01868B !important;
  font-weight: bold;
}

.header-link::after {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.header-link {
  color: #000;
}

.header-link:hover {
  color: #000;
}

.link.card {
  position: relative;
}

.hiding {
  display: none!important;
  visibility: hidden!important;
}

.ui.progress .bar>.progress {
  color: rgba(255,255,255,1);
}

.ui.progress:first-child {
  margin: 0 0 1.5em;
}



/* ------------------------------------------------------------ */
/* SCROLLBAR */

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--scrollbackground);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollcolor);
  border-radius: 20px;
  border: 3px solid var(--scrollbackground);
}



.masonry-without-js {
  columns: 3 200px;
  column-gap: 0.5rem;
  a {
    width: 150px;
    display: inline-block;
    width: 100%;
  } 
}

.masonry-wrapper {
  padding: 1.5em;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px,1fr));
  grid-gap: 10px;
  grid-auto-rows: 0;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(2, minmax(100px,1fr));
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(100px,1fr));
  }
}
.masonry .masonry-item, .masonry .masonry-content {
  border-radius: 4px;
  // overflow: hidden;
}
