<div style="background-color: #E0E1E2;" class="ui top right attached label">Background</div>
 
<div style="font-size: 17px;" class="ui relaxed animated list">

    <div class="item"> 
     <i style="color: #f2f2f2; background-color: #454545;" class="bordered top aligned home icon"></i>
       <div class="middle aligned content"> 
         born and raised in The Hague, Netherlands.
       </div>
     </div>
   
    <div class="item"> 
     <i class="bordered top aligned university icon"></i>
       <div class="middle aligned content"> 
         Master of Science in Data Science at Tilburg University, and Bachelor of Science in Communication Science.
       </div>
     </div>

    <div class="item"> 
     <i style="color: #f2f2f2; background-color: #454545;" class="bordered top aligned heart icon"></i> 
       <div class="middle aligned content"> 
         Besides puzzling with data and code, I also enjoy 
       </div>
     </div>

    <div class="item">
       <i class="bordered top aligned flag checkered icon"></i> 
       <div class="middle aligned content">
          Current Goals:         
          <div class="list"> 

               <div class="item">
                 <i class="dot circle outline middle aligned icon"></i>
                 <div class="content">
                   Writing at least one post per month on Medium
                 </div>
              </div>

              <div class="item"> 
               <i class="check circle outline middle aligned icon"></i>
               <div class="content"> 
                 Making a Web App
               </div>
              </div>

             <div class="item">
              <i class="dot circle outline middle aligned icon"></i>
              <div class="content">
               Learn DevOps
              </div>
             </div>

             <div class="item">
              <i class="dot circle outline middle aligned icon"></i>
              <div class="content">
               Learning Japannese
              </div>
             </div>    

            <div class="item">
             <i class="check circle outline middle aligned icon"></i>
             <div class="content">
              Starting a new data science project
             </div>
            </div>

            <div class="item">
             <i class="dot circle outline middle aligned icon"></i>
             <div class="content">
              Creating online templates
             </div>
            </div>

          </div> 
        </div>
      </div>

</div>
