{% assign language = page.language %}
                                                        
<h3 class="ui horizontal left aligned divider header">
       <img class="ui mini image" src="/images/goals-icon.png"> 
       {% if page.language == 'pt' %} 
       Mijn huidige goals &nbsp;&nbsp; 
       {% elsif page.language == 'en' %} 
       My current goals &nbsp;&nbsp; 
       {% endif %}
</h3>
<h5 style="color: rgba(0, 0, 0, 0.4); margin: 0px; padding: 0px"> 
       {% if page.language == 'pt' %}
       Voltooid: <i class="check circle outline icon"></i> &nbsp;&nbsp; Gepland: [‒]      
       {% elsif page.language == 'en' %}
       Completed: <i class="check circle outline icon"></i> &nbsp;&nbsp; Planned: [‒]
       {% endif %}
</h5>      
      
<div class="ui segment">
  <div class="ui relaxed divided animated list">

          <div class="item" data-value="[‒]">
            <div class="content">
              {% if page.language == 'pt' %}
              &nbsp; Schrijf ten minste één bericht per maand op Medium
              {% elsif page.language == 'en' %}
              &nbsp; Write at least one post per month on Medium
              {% endif %}
            </div>
          </div>
          <div class="item"> 
            <i class="large check circle outline middle aligned icon"></i>
            <div class="content">
              {% if page.language == 'pt' %}
              &nbsp; Voltooi de Covid Tracker website
              {% elsif page.language == 'en' %}
              &nbsp; Complete the Covid Tracker Website
              {% endif %}
            </div>
          </div>
          <div class="item" data-value="[‒]">
            <div class="content">
              {% if page.language == 'pt' %}
              &nbsp; Leer DevOps
              {% elsif page.language == 'en' %}
              &nbsp; Learn DevOps
              {% endif %}
            </div>
          </div>
          <div class="item" data-value="[‒]">
            <div class="content">
              {% if page.language == 'pt' %}
              &nbsp; Leer Japans
              {% elsif page.language == 'en' %}
              &nbsp; Learn Japannese
              {% endif %} 
            </div>
          </div>
          <div class="item">
            <i class="large check circle outline middle aligned icon"></i>
            <div class="content">
              {% if page.language == 'pt' %}
              Een Web-App maken
              {% elsif page.language == 'en' %}
              Make a Web App
              {% endif %}
            </div>
          </div>
          <div class="item" data-value="[‒]">
            <div class="content">
              {% if page.language == 'pt' %}
              &nbsp; Start een nieuw data science project 
              {% elsif page.language == 'en' %}
              &nbsp; Start a new data science project
              {% endif %}
            </div>
          </div>
          <div class="item" data-value="[✓]">
            <div class="content">
              &nbsp; Internship
            </div>
          </div>
          <div class="item" data-value="[‒]">
            <div class="content">
              {% if page.language == 'pt' %}
              &nbsp; Verkoop online templates
              {% elsif page.language == 'en' %}
              &nbsp; Sell online templates
              {% endif %}
            </div>
          </div>

  </div>
</div>
