<div class="ui relaxed divided bulleted list">

          <div class="item" data-value="-">
            <div class="content">
              {% if page.language == 'pt' %}
              Je kunt meer betekenisvolle patronen in data vinden en met een waardevolle observatie komen als je de bredere context begrijpt.
              {% elsif page.language == 'en' %}
              You can find more meaningful patterns in data and come up with a valuable observation if you understand the broader context.
              {% endif %}
           </div>
          </div>
          <div class="item" data-value="-">
            <div class="content">
              {% if page.language == 'pt' %}
              De beste projecten worden waarschijnlijk over het hoofd gezien; de beste problemen om aan te werken zijn vaak de problemen die niemand anders probeert op te lossen.
              {% elsif page.language == 'en' %}
              The best projects are likely to be overlooked, not trumpeted by a crowd; the best problems to work on are often the ones nobody else even tries to solve.
              {% endif %}
            </div>
          </div>
          <div class="item" data-value="-">
            <div class="content">
             {% if page.language == 'pt' %}
             Het geheim van succes ligt in de organisatie van het niet voor de hand liggende.
             {% elsif page.language == 'en' %}
             The secret of success lies in the organization of the non-obvious.
             {% endif %}
            </div>
          </div>    
          <div class="item" data-value="-">
            <div class="content">
             {% if page.language == 'pt' %}
             Het is belangrijk om het vermogen te ontwikkelen om voortdurend nieuwe en betere vormen van kennis te verwerven die we kunnen toepassen op ons werk en in ons leven.
             {% elsif page.language == 'en' %}
             It's important to develop the ability to continuously acquire new and better forms of knowledge that we can apply to our work and to our lives.
             {% endif %}
            </div>
          </div>    

</div>
