<div class="ui stackable grid container">
   <div class="four wide column">
      <img class="ui centered image" src="/images/profil.png" width="180px">
      <div class="ui hidden divider"></div>
      <img class="ui tiny bottomm image" src="/images/dd.png">
   </div> 

   <div class="twelve wide column">
     <h3 style="margin-bottom: 5px;" class="ui horizontal center aligned divider header">
       <i style="color: #f2f2f2; background-color: #458588;" class="circular horizontally flipped hand paper icon"></i>
     </h3>
     <div style="color: #01868B; font-family: 'Source Code Pro', monospace; margin-top: 4px;" class="ui tiny center aligned header"> 
       Hello! My name is Duygu. It’s nice to meet you.
     </div>

     <p>
      I enjoy finding valuable and interesting information that lie within data. With experience in various data analysis and machine learning techniques, I am able to bring new ideas to life through data and code.
     </p>
     <p>
      I built this website primarily to share the things I'm working on. You'll find a variety of different projects and ideas that I've been working on. Some of them are related to data analysis and visualization, while others are focused on building new tools and applications. As someone with a curious nature, I often find myself exploring a wide range of topics, trying to make unexpected connections to gain new insights. My blog <a href="{{ site.baseurl}}/en/posts/" class="lined">posts</a> reflect this, showcasing a diverse range of topics from serious to quirky. The posts can be easily filtered by project, tool/technique used (e.g. Python, Sentiment Analysis), or topic.
     </p>
     <p>
     For data to become information, data needs to be put into context. I believe that creating data visualizations, that are both aesthetically pleasing and informative, can communicate valuable messages to diverse audiences and make data accessible in a creative and enjoyable way. That's why I created "<a href="https://instagram.com/insert.data" target="_blank" class="lined">Insert Data</a>", where I regularly share my dataviz posts.     
     </p>
     <p>
     I enjoy experimenting with different technologies and techniques, and I'm always looking for new ways to improve my skills and expand my knowledge. If you have any questions or ideas for potential collaboration, please feel free to <a href="{{ site.baseurl}}/en/contact/" class="lined">contact</a> me.
     </p>

   </div>   
</div>
