<div class="ui top left attached label">Current Goals</div>

<div class="ui relaxed divided animated list">

     <div class="item">
       <i class="large dot circle outline middle aligned icon"></i>
       <div class="content">
         Write at least one post per month on Medium
       </div>
     </div>

     <div class="item"> 
       <i class="large check circle outline middle aligned icon"></i>
       <div class="content"> 
         Complete the Random Quote Generator Website
       </div>
     </div>

     <div class="item">
       <i class="large dot circle outline middle aligned icon"></i>
       <div class="content">
         Learn DevOps
       </div>
     </div>

     <div class="item">
       <i class="large dot circle outline middle aligned icon"></i>
       <div class="content">
         Learning Japannese
       </div>
     </div>

     <div class="item">
       <i class="large dot circle outline middle aligned icon"></i>
       <div class="content">
         Make a Web App
       </div>
     </div>      

     <div class="item">
       <i class="large check circle outline middle aligned icon"></i>
       <div class="content">
         Start a new data science project
       </div>
     </div>

     <div class="item">
       <i class="large dot circle outline middle aligned icon"></i>
       <div class="content">
         Sell online templates
       </div>
     </div>

</div>
