<div class="ui stackable grid container">
   <div class="four wide column">
      <img class="ui centered image" src="/images/profil.png" width="180px">
      <div class="ui hidden divider"></div>
      <img class="ui tiny bottomm image" src="/images/dd.png">
   </div> 

   <div class="twelve wide column">
     <h3 style="margin-bottom: 5px;" class="ui horizontal center aligned divider header">
       <i style="color: #f2f2f2; background-color: #458588;" class="circular horizontally flipped hand paper icon"></i>
     </h3>
     <div style="color: #01868B; font-family: 'Source Code Pro', monospace; margin-top: 4px;" class="ui tiny header no-bottom"> 
       Hello! It’s nice to meet you
     </div>

     <p>
       Data visualization and data storytelling has a special place in my heart. I am passionate about building <span style="font-family: 'Source Code Pro', monospace;">creative</span> visualizations to make insights more accessible. Created&nbsp;
       <a href="https://instagram.com/insert.data" target="_blank" class="linedtwo">
       insert.data</a>
       where I share #dataviz posts.
            
       I love to research most random things, poking and prying with a purpose. You can find this back in my mixed pallet of blog posts.
      
       Besides data science, I also enjoy creating digital art. Especially glitch art and digital collage art. Did you know that even most of the images used on this website are my own creations? 
     </p>

   </div>   
</div>
