 <div class="ui mini circular grey labels">
  <a class="ui label">
    <img class="ui mini image" src="/images/python-logo.png">
    Python
  </a>
  <a class="ui label">
    <img class="ui mini image" src="/images/r-logo.png">
    R programming
  </a>
  <a class="ui label">
    <img class="ui mini image" src="/images/pandas-logo.png">
    Pandas
  </a>
  <a class="ui label">
    Scikit-learn
  </a>
  <a class="ui label">
    141
  </a>
</div>

<img src="/images/scikit-learn-logo.png" width="35px"></span>
          

          -align: center"> TensorFlow </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/TensorFlow-logo.png" width="35px"></span>
          

  
               <span style="text-align: center"> Seaborn </span>
<img src="/images/seaborn-logo.png" width="35px"></span>
         

         center"> PyTorch </span>   
<img src="/images/pytorch-logo.png" width="35px"></span>

          -center"> Git </span>
<img src="/images/Git-logo.png" width="35px"></span>
          
="text-align: center"> GitHub </span>
<img src="/images/github-logo.png" width="35px"></span>
          
"text-align: center"> MySQL </span>
<img src="/images/MySQL-Logo.png" width="35px"></span>
          
-align: center"> Cassandra NoSQL database management</span>
<img src="/images/Cassandra-NoSQL-Database.png" width="35px"></span>
          
text-align: center"> HTML </span>
<img src="/images/html.png">

center"> CSS </span>
<img src="/images/css3.png" width="35px"></span>
   
       
