<div style="margin-bottom: 20px" class="ui two column stackable grid container">
 <div class="column">

      <h3 class="ui horizontal center aligned divider header">
        <img class="ui mini image" src="/images/Lessons-icon.png">     
        Duygu's Notes &nbsp;&nbsp;
       </h3>

      <div class="ui top attached tabular menu jsOnly">
        <a class="item active" data-tab="quotes"> Favourite Quotes </a>
        <a class="item" data-tab="goals"> Current Goals </a>
        <a class="item" data-tab="lessons"> My Lessons </a>
      </div>

      <div class="ui bottom attached tab segment" data-tab="quotes">
        {% include bio-quotes.html %}
      </div>
      <div class="ui bottom attached tab segment" data-tab="goals">
        {% include bio-currentgoals.html %} 
      </div>
      
      <noscript>
       <div class="ui segment">
            <div class="ui relaxed divided bulleted list">
              Wegg
            </div>
       </div>
      </noscript>


  </div>
</div>

<script>
  $('.menu .item')
    .tab();
</script>
