 <div class="ui horizontal divider no-bottom">
   <a href="{{ site.data.bio.basics.profiles[2].url }}" target="_blank">
    <img class="custom-divider-image" src="/images/dduyg.png">
   </a>
 </div>

  <div class="ui compact icon top attached tabular four item menu jsOnly">
     <a class="active grey item" data-tab="current"> <i class="large user outline icon"></i> </a>
     <a class="grey item" data-tab="tools"> <i class="large code icon"></i> </a>  
     <a class="grey item" data-tab="lessons"> <i class="large flask icon"></i> </a>   
     <a class="grey item" data-tab="quotes"> <i class="large gem outline icon"></i> </a>        
  </div>

  <div class="ui bottom attached tab segment" data-tab="current">
     {% include bio-current.html %} 
  </div>
  <div class="ui bottom attached tab segment" data-tab="tools">
     {% include bio-tools.html %} 
  </div>
  <div class="ui bottom attached tab segment" data-tab="lessons">
     {% include bio-mylessons.html %}
  </div>
  <div class="ui bottom attached tab segment" data-tab="quotes">
     {% include bio-quotes.html %}
  </div>
 
 <!-- NO SCRIPT= alternate content to be displayed to users that have disabled scripts in their browser -->    
  <noscript>
     <div class="ui segment">
        {% include bio-current.html %}
     </div>
     <div class="ui segment">
        {% include bio-tools.html %}
     </div>
     <div class="ui segment">
        {% include bio-mylessons.html %}
     </div>
     <div class="ui segment">
        {% include bio-quotes.html %}
     </div>
  </noscript>

 <script>
   $('.menu .item')
     .tab();
 </script>
