<div class="ui top right attached label">Tools</div>

<div class="leftright-padded ui mini circular labels">          
          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> Python </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/python-logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> R </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/r-logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> Pandas </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/pandas-logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> Scikit-learn </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/scikit-learn-logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> TensorFlow </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/TensorFlow-logo.png" width="35px"></span>
          </div>
 </div>

<div class="leftright-padded ui mini circular labels">             
          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> Seaborn </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/seaborn-logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> PyTorch </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/pytorch-logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> Git </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/Git-logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> GitHub </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/github-logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> MySQL </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/MySQL-Logo.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> NoSQL </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/Cassandra-NoSQL-Database.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> HTML </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/html.png" width="35px"></span>
          </div>

          <div class="ui label">
            <div class="ui dimmer">
            <div class="content">
               <span style="text-align: center"> CSS </span>
            </div>
            </div>
           <span style="padding: 7px;" class="inline-img logo"><img src="/images/css3.png" width="35px"></span>
          </div>
</div>

<script>
$('.circular.labels .label').dimmer({ 
  on: 'hover' 
});
</script>
