<div class="ui horizontal divider no-bottom">
  <a href="https://ko-fi.com/dduyg" target="_blank">
   <img class="custom-divider-image" src="/images/dduyg.jpg">
  </a>
</div>

      <div class="ui compact icon top attached tabular four item menu jsOnly">
        <a class="active myy item" data-tab="current"> <i class="large user outline icon"></i> </a>
        <a class="myy item" data-tab="lessons"> <i class="large flask icon"></i> </a>   
        <a class="myy item" data-tab="quotes"> <i class="large gem outline icon"></i> </a>
        <a class="myy item" data-tab="tools"> <i class="large wrench icon"></i> </a>  
      </div>

      <div class="ui bottom attached tab tertiary segment" data-tab="current">
        {% include bio-current.html %} 
      </div>
      <div class="ui bottom attached tab tertiary inverted segment" data-tab="lessons">
        {% include bio-mylessons.html %}
      </div>
      <div class="ui bottom attached tab tertiary grey inverted segment" data-tab="quotes">
        {% include bio-quotes.html %}
      </div>
      <div class="ui bottom attached tab secondary grey segment" data-tab="tools">
        {% include bio-tools.html %} 
      </div>
      
      
 
<!-- NO SCRIPT= alternate content to be displayed to users that have disabled scripts in their browser -->    
 <noscript>
     <div class="ui segment">
         {% include bio-current.html %}
      </div>
      <div class="ui segment">
         {% include bio-mylessons.html %}
      </div>
      <div class="ui segment">
         {% include bio-quotes.html %}
      </div>
      <div class="ui segment">
         {% include bio-tools.html %}
      </div>
 </noscript>

<script>
  $('.menu .item')
    .tab();
</script>
