 <h3 style="font-family: 'Source Code Pro', monospace;" class="ui dividing header"><img class="ui mini image" src="/images/Lessons-icon.png"> <div class="content">My lessons</div> </h3>

 <ul style="line-height:140%"><li> You can find more meaningful patterns in data and come up with a valuable observation if you understand the broader context.</li>
 <br><li> The best projects are likely to be overlooked, not trumpeted by a crowd; the best problems to work on are often the ones nobody else even tries to solve.</li>
 <br><li> The secret of success lies in the organization of the non-obvious.</li>
 <br><li> It's important to develop the ability to continuously acquire new and better forms of knowledge that we can apply to our work and to our lives.</li>
 </ul>
