<div style="letter-spacing: 1px; color: black; background-color: #D2D3D4; font-family: 'Source Code Pro', monospace;" class="ui top left attached label">Favorite quotes</div>

 <div class="ui hidden divider"></div>
 <div class="ui relaxed divided bulleted list">
   
     <div class="item">
       The important thing is not to stop questioning; curiosity has its own reason for existing. /Albert Einstein
     </div>

     <div class="item">
      If one day, my words are against science, choose science. (Mustafa Kemal Atatürk)
     </div>

     <div class="item">
       Study hard what interests you the most in the most undisciplined, irreverent and original manner possible. —Richard Feynmann
     </div>

     <div class="item">
       Intelligence is the ability to adapt to change. —Stephen Hawking  
     </div>

</div>
