{% assign language = page.language %}

{% if page.language == 'pt' %}
      <h3 class="ui horizontal left aligned divider header">
        <img class="ui mini image" src="/images/heart-icon.png"> 
        Hoe ik leer &nbsp;&nbsp;
      </h3>
        
      <div class="ui segment">
        <div class="ui relaxed divided animated bulleted list">

          <div class="item">
            <div class="content">
              Leren door te doen, te bouwen en te creëren
            </div>
          </div>
          <div class="item">
            <div class="content">
              Kennis nastreven in T (breedte en diepte)
            </div>
          </div>
          <div class="item">
            <div class="content">
             Cross-disciplinair
            </div>
          </div>    

          </div>
        </div>
{% elsif page.language == 'en' %}    
      <h3 class="ui horizontal left aligned divider header">
        <img class="ui mini image" src="/images/heart-icon.png"> 
        How I learn &nbsp;&nbsp;
      </h3>
        
      <div class="ui segment">
        <div class="ui relaxed divided animated bulleted list">

          <div class="item">
            <div class="content">
              Learn by doing, building & creating
            </div>
          </div>
          <div class="item">
            <div class="content">
              Pursue knowledge in T (breadth and depth)
            </div>
          </div>
          <div class="item">
            <div class="content">
             Cross-disciplinary
            </div>
          </div>    

          </div>
        </div>
{% endif %}    
