<h3 style="margin-top: 20px; margin-bottom: 5px;" class="ui horizontal center aligned divider header">
  <div style="background-color: #C0736B;" class="ui mini circular label"><span style="padding: 7px;" class="inline-img hello"><img src="/images/Hand.gif" width="35px"></span></div>
</h3>
<h3 style="color: #C0736B; font-family: 'Source Code Pro', monospace; margin-top: 4px;" class="ui center aligned header no-bottom"> 
  Hello! It’s nice to meet you
</h3>


<div class="center aligned description">

- Conversations with open minded people are one of my favourite things.
     
- Data visualization and data storytelling has a special place in my heart. I am passionate about building creative visualizations to make insights more accessible. Created <a href="https://instagram.com/insert.data"> <i style="color: #0005FF;" class="instagram icon"></i>insert.data</a> where I share #dataviz posts.
            
- I love to research most random things, poking and prying with a purpose. You can find this back in my mixed pallet of blog posts.
      
- Besides data science, I also enjoy creating digital art. Especially glitch art and digital collage art. Did you know that even most of the images used on this website are my own creations? 
 </div>


How I learn

- Learn by doing, building & creating
- Pursue knowledge in T (breadth and depth)
- Cross-disciplinary
     
