<div class="ui top right attached label">My Lessons</div>

<div class="ui relaxed divided bulleted list">

    <div class="item">
      <div class="content">
        You can find more meaningful patterns in data and come up with a valuable observation if you understand the broader context.
      </div>
    </div>

   <div class="item">
      <div class="content">
        The best projects are likely to be overlooked, not trumpeted by a crowd; the best problems to work on are often the ones nobody else even tries to solve.
      </div>
    </div>                 

    <div class="item">
      <div class="content">
        The secret of success lies in the organization of the non-obvious.
      </div>
    </div>

    <div class="item">
      <div class="content">
        Build something you wish existed and become the user of your own product.
      </div>
    </div>

</div>
