{% assign language = page.language %}


      [‒] Schrijf ten minste één bericht per maand op Medium
            </div>
          </div>
          <div class="item">
            <div class="content">
              [✓] Voltooi de Covid Tracker-website
            </div>
          </div>
          <div class="item">
            <div class="content">
            [‒] Leer DevOps
            </div>
          </div>
          <div class="item">
            <div class="content">
              [‒] Leer Japans  
            </div>
          </div>
          <div class="item">
            <div class="content">
              [✓] Een web-app maken
            </div>
          </div>
          <div class="item">
            <div class="content">
              [‒] Start een nieuw data science-project 
            </div>
          </div>
          <div class="item">
            <div class="content">
              [✓] Internship
            </div>
          </div>
          <div class="item">
            <div class="content">
              [‒] Verkoop online templates
            
###    
<h3 class="ui horizontal left aligned divider header">
       <img class="ui mini image" src="/images/goals-icon.png"> 
       {% if page.language == 'pt' %} 
       Mijn huidige goals &nbsp;&nbsp; 
       {% elsif page.language == 'en' %} 
       My current goals &nbsp;&nbsp; 
       {% endif %}
</h3>
<h5 style="color: rgba(0, 0, 0, 0.4); margin: 0px; padding: 0px"> 
       {% if page.language == 'pt' %}
       Voltooid: [✓] &nbsp;&nbsp; Gepland: [‒]      
       {% elsif page.language == 'en' %}
       Completed: [✓] &nbsp;&nbsp; Planned: [‒]
       {% endif %}
</h5>      
      
      <div class="ui segment">
        <div class="ui relaxed divided animated list">

          <div class="item">
            <div class="content">
              [‒] Write at least One Post per Month on Medium
            </div>
          </div>
          <div class="item">
            <div class="content">
              [✓] Complete the Covid Tracker Website
            </div>
          </div>
          <div class="item">
            <div class="content">
            [‒] Learn DevOps
            </div>
          </div>
          <div class="item">
            <div class="content">
              [‒] Learn Japannese  
            </div>
          </div>
          <div class="item">
            <div class="content">
              [✓] Make a Web App
            </div>
          </div>
          <div class="item">
            <div class="content">
              [‒] Make a new Data Science project 
            </div>
          </div>
          <div class="item">
            <div class="content">
              [✓] Internship
            </div>
          </div>
          <div class="item">
            <div class="content">
              [‒] Sell Online Templates
            </div>
          </div>

          </div>
        </div>
{% endif %}    


  
