<div style="background-color: #E0E1E2;" class="ui top left attached label">Background</div>
 
<div style="font-size: 17px;" class="ui relaxed animated list">
<div class="ui hidden divider"></div>

    <div class="item"> 
     <i style="color: #f2f2f2; background-color: #454545;" class="large bordered top aligned home icon"></i>
       <div class="middle aligned content"> 
         born and raised in The Hague, Netherlands.
       </div>
     </div>
   
    <div class="item"> 
     <i style="color: #f2f2f2; background-color: #458588;" class="large bordered top aligned university icon"></i>
       <div class="middle aligned content"> 
         Master of Science in Data Science at Tilburg University, and Bachelor of Science in Communication Science.
       </div>
     </div>

    <div class="item"> 
     <i style="color: #f2f2f2; background-color: #454545;" class="large bordered top aligned heart icon"></i> 
       <div class="middle aligned content"> 
         Jere
       </div>
     </div>

    <div class="item">
       <i style="color: #f2f2f2; background-color: #458588;" class="large bordered top aligned flag checkered icon"></i> 
       <div class="middle aligned content">
          Current Goals:         
          <div class="list"> 

               <div class="item">
                 <i class="dot circle outline middle aligned icon"></i>
                 <div class="content">
                   Write at least one post per month on Medium
                 </div>
              </div>

              <div class="item"> 
               <i class="check circle outline middle aligned icon"></i>
               <div class="content"> 
                 Make a Web App
               </div>
              </div>

             <div class="item">
              <i class="dot circle outline middle aligned icon"></i>
              <div class="content">
               Learn DevOps
              </div>
             </div>

             <div class="item">
              <i class="dot circle outline middle aligned icon"></i>
              <div class="content">
               Learning Japannese
              </div>
             </div>    

            <div class="item">
             <i class="check circle outline middle aligned icon"></i>
             <div class="content">
              Start a new data science project
             </div>
            </div>

            <div class="item">
             <i class="dot circle outline middle aligned icon"></i>
             <div class="content">
              Sell online templates
             </div>
            </div>

          </div> 
        </div>
      </div>

</div>
