 <div style="letter-spacing: 1px; color: black; background-color: #D2D3D4; font-family: 'Source Code Pro', monospace;" class="ui top right attached label">My Stack</div>

 <div class="ui hidden divider"></div>
 <div style="font-size: 17px;" class="ui relaxed list">
 
   <div style="display: flex; align-items: center;">
      <img class="tools-img" src="/images/tools-section1.jpg">
      <p style="margin: 0; color: #767676;"><b>With experience in various data analysis and machine learning techniques, I am able to bring ideas to life:</b></p>
    </div>
    <div class="ui hidden divider"></div> 

    <div style="display: flex; align-items: center;">
      <img class="tools-img" src="/images/tools-section2.jpg">
      <p style="margin: 0;">I have worked with large datasets and various data types, including structured and unstructured data, and have used a range of tools and technologies, such as Python and R, and am comfortable working with databases and data visualization tools.</p>
    </div>
    <div class="ui hidden divider"></div> 

    <div style="display: flex; align-items: center;">
      <img class="tools-img" src="/images/tools-section3.jpg">
      <p style="margin: 0;">Feel free to browse through some examples of <a href="{{ site.baseurl }}/{{ site.essays-url }}" class="home">my work</a>, where I demonstrate the use of various tools. You can easily filter by the specific tool or technique you're interested in.</p>
    </div> 
    <div class="ui hidden divider"></div> 
    <hr> 

  <div style="padding: 1% 17%; text-align: center" class="special content">
     <h5 style="letter-spacing: 1px; color: #89827A; font-family: 'Source Code Pro', monospace;">Explore relevant categories:</h5>
     <div class="ui small labels">
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#Python" style="background-color: #E0E1E2;" class="ui basic black label">Python</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#Pandas" style="background-color: #E0E1E2;" class="ui basic black label">Pandas</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#Scikit-learn" style="background-color: #E0E1E2;" class="ui basic black label">Scikit-learn</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#TensorFlow" style="background-color: #E0E1E2;" class="ui basic black label">TensorFlow</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#Seaborn" style="background-color: #E0E1E2;" class="ui basic black label">Seaborn</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#PyTorch" style="background-color: #E0E1E2;" class="ui basic black label">PyTorch</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#R" style="background-color: #E0E1E2;" class="ui basic black label">R</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#Git" style="background-color: #E0E1E2;" class="ui basic black label">Git</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#SQL" style="background-color: #E0E1E2;" class="ui basic black label">SQL</a>  
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#NLP" style="background-color: #E0E1E2;" class="ui basic black label">NLP</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#JavaScript" style="background-color: #E0E1E2;" class="ui basic black label">JavaScript</a> 
      <a href="{{ site.baseurl }}/{{ site.essays-url }}/#HTML-CSS" style="background-color: #E0E1E2;" class="ui basic black label">HTML/CSS</a>
     </div>
   </div>
   
</div>
