<div style="letter-spacing: 1px; color: black; background-color: #D2D3D4; font-family: 'Source Code Pro', monospace;" class="ui top right attached label">Background</div>

<div class="ui hidden divider"></div> 
<div style="font-size: 17px;" class="ui relaxed list">
          
    <div class="item"> 
     <i style="background-color: #E0E1E2; color: #01868B;" class="bordered middle aligned align justify icon"></i>
       <div class="middle aligned content"> 
        <b>So, a little more about me.</b> As you probably already know by now, my name is 
                 <div class="ui dropdown">
                  <span style="font-family: 'Source Code Pro', monospace;" class="text">Duygu Dağdelen</span>
                   <div class="menu">
                    <div class="ui message">
                     <p>I was named after my mother's favourite writer <a href="https://en.m.wikipedia.org/wiki/Duygu_Asena">Duygu Asena</a>, known for her early contributions to the empowerment of women, freedom of expression, and the right to self-determination.</p>
                    </div>
                   </div>
                  </div>    
                  . I love turning things into datasets, the programming language Python, watching kdramas, geometric shapes, and the satisfaction I feel after cleaning messy data. I was born and raised in The Hague <i class="grey home icon"></i>, Netherlands. I'm a curious and analytical person at heart, and see structure in everything as a habit. I have always been interested in numbers and patterns, which led me to pursue a Master’s degree Data Science in the first place &lt;<i class="grey university icon"></i>Master of Science, Tilburg University&gt;. There's just something so satisfying about digging into a dataset and finding valuable and interesting information that lie within data. 
       </div>
     </div>

    <div class="ui hidden divider"></div>

    <div class="item"> 
     <i style="background-color: #454545; color: transparent;" class="bordered inverted middle aligned heart icon"></i> 
       <div class="middle aligned content"> 
         Besides puzzling with data and code, I also enjoy creating digital art. Especially glitch art and digital collage art. Did you know that even most of the images used on this website are my own creations?
       </div>
     </div>

</div>


<script>
  $('.ui.dropdown')
  .dropdown();
</script>
