{% assign language = page.language %}

<h3 class="ui horizontal left aligned divider header">
    <img class="ui mini image" src="/images/favquotes-icon.png">
    {% if page.language == 'pt' %} Favoriete quotes &nbsp;&nbsp; {% elsif page.language == 'en' %} Favorite quotes &nbsp;&nbsp; {% endif %}
</h3>
     
<div class="ui segment">
  <div class="ui relaxed divided animated list">
          <div class="item" data-value="●">
            <div class="content">
              Judge a man by his questions rather than his answers. —Voltaire
            </div>
          </div>
          <div class="item" data-value="●">
            <div class="content">
              The important thing is not to stop questioning; curiosity has its own reason for existing. —Albert Einstein
            </div>
          </div>
          <div class="item" data-value="●">
            <div class="content">
            Study hard what interests you the most in the most undisciplined, irreverent and original manner possible. —Richard Feynmann
            </div>
          </div>
          <div class="item" data-value="●">
            <div class="content">
             Intelligence is the ability to adapt to change. —Stephen Hawking  
            </div>
          </div>
  </div>
</div>
