<div class="ui top right attached large label">Favourite Quotes</div>

 <div class="ui relaxed divided bulleted list">
   
     <div class="item">
       <div class="content">
         Judge a man by his questions rather than his answers. —Voltaire
       </div>
     </div>

     <div class="item">
       <div class="content">
         The important thing is not to stop questioning; curiosity has its own reason for existing. —Albert Einstein
       </div>
     </div>

     <div class="item">
       <div class="content">
         Study hard what interests you the most in the most undisciplined, irreverent and original manner possible. —Richard Feynmann
       </div>
     </div>

     <div class="item">
       <div class="content">
         Intelligence is the ability to adapt to change. —Stephen Hawking  
       </div>
     </div>

</div>
