<h3 class="ui horizontal center aligned divider header">
   <i style="color: #fafafa; background-color: #01868C;" class="circular sticky note outline icon"></i> Duygu's Notes &nbsp;&nbsp;
</h3>

      <div class="ui top attached tabular menu jsOnly">
        <a class="item active" data-tab="quotes"> Favourite Quotes </a>
        <a class="item" data-tab="goals"> Current Goals </a>
        <a class="item" data-tab="lessons"> My Lessons </a>
      </div>

      <div class="ui bottom attached tab segment" data-tab="quotes">
        {% include bio-quotes.html %}
      </div>
      <div class="ui bottom attached tab segment" data-tab="goals">
        {% include bio-currentgoals.html %} 
      </div>
      <div class="ui bottom attached tab segment" data-tab="lessons">
        {% include bio-mylessons.html %}
      </div>
 
<!-- NO SCRIPT= alternate content to be displayed to users that have disabled scripts in their browser -->    
 <noscript>
      <h3 class="ui horizontal center aligned divider header">
        <i style="color: #fafafa; background-color: #01868C;" class="circular gem outline icon"></i> Favourite Quotes &nbsp;&nbsp;
      </h3>
      <div class="ui segment">
            {% include bio-quotes.html %}
       </div>

       <h3 class="ui horizontal center aligned divider header">
        <i style="color: #fafafa; background-color: #01868C;" class="circular flag checkered icon"></i> Current Goals &nbsp;&nbsp;
       </h3>
       <div class="ui segment">
            {% include bio-currentgoals.html %}
       </div>

       <h3 class="ui horizontal center aligned divider header">
        <i style="color: #fafafa; background-color: #01868C;" class="circular university icon"></i> My Lessons &nbsp;&nbsp;
       </h3>
       <div class="ui segment">
            {% include bio-mylessons.html %}
       </div>
 </noscript>



<script>
  $('.menu .item')
    .tab();
</script>
