<h3 style="margin-top: 20px;" class="ui horizontal center aligned divider header">
  <div style="background-color: #C0736B; margin-bottom: 7px;" class="ui mini circular label"><span style="padding: 7px;" class="inline-img hello"><img src="/images/Hand.gif" width="35px"></span></div>
  <div style="color: #C0736B; font-family: 'Roboto Mono', monospace;" class="sub header"><b>Hello! It’s nice to meet you</b> </div>
</h3>
 
        <div style="background-color: #458588; margin-top: 20px;" class="ui mini circular label"><span style="padding: 7px;" class="inline-img conversation"><img src="/images/conversation-icon.png" width="35px"></span></div>
           <div class="center aligned description leftright-padded">
              Conversations with open minded people are one of my favourite things.
           </div>
     
        <div style="background-color: #458588; margin-top: 20px;" class="ui mini circular label"><span style="padding: 7px;" class="inline-img dataviz"><img src="/images/dataviz-icon.png" width="35px"></span></div>
           <div class="center aligned description leftright-padded">
              Data visualization and data storytelling has a special place in my heart. I am passionate about building creative visualizations to make insights more accessible. Created <a href="https://instagram.com/insert.data"> <i style="color: #0005FF;" class="instagram icon"></i>insert.data</a> where I share #dataviz posts.
           </div>
   
        <div style="background-color: #458588; margin-top: 20px;" class="ui mini circular label"><span style="padding: 7px;" class="inline-img detective"><img src="/images/research-detective.png" width="35px"></span></div>
           <div class="center aligned description leftright-padded">
              I love to research most random things, poking and prying with a purpose. You can find this back in my mixed pallet of blog posts.
           </div>
      
        <div style="background-color: #458588; margin-top: 20px;" class="ui mini circular label"><span style="padding: 7px;" class="inline-img art"><img src="/images/art-icon.png" width="35px"></span></div>
           <div class="center aligned description leftright-padded">
              Besides data science, I also enjoy creating digital art. Especially glitch art and digital collage art. Did you know that even most of the images used on this website are my own creations? 
          </div>
