<div style="margin-bottom: 20px" class="ui two column stackable grid container">
 <div class="column">

      <h3 class="ui horizontal center aligned divider header">
        <img class="ui mini image" src="/images/Lessons-icon.png">     
        Duygu's Notes &nbsp;&nbsp;
       </h3>

      <div class="ui top attached tabular menu jsOnly">
      {% assign certificate_category = bio.certificates | map: "category" | uniq %}
      {% for category in certificate_category %}
          <a class="item" data-tab="{{ category }}">{{ category }}</a>
      {% endfor %}
      </div>

      {% for category in certificate_category %}
      <div class="ui bottom attached tab segment" data-tab="{{ category }}">
        <div class="ui relaxed divided bulleted list">
        {% for certificate in bio.certificates %}
          {% if certificate.category == category %}
          <div class="item">
            <div class="content">
              {% if certificate.url %}
              <a href="{{certificate.url}}" target="_blank" class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></a>
              {% else %}
              <div class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></div>
              {% endif %}
              {{ certificate.summary }}
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endfor %}
      
      <noscript>
      <div class="ui segment">
        <div class="ui relaxed divided bulleted list">
          {% for certificate in bio.certificates %}
          <div class="item">
            <div class="content">
              {% if certificate.url %}
              <a href="{{certificate.url}}" target="_blank" class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></a>
              {% else %}
              <div class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></div>
              {% endif %}
              {{ certificate.summary }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </noscript>
    </div>


  </div>
<script>
  $('.menu .item')
    .tab();
</script>
