{% assign filters = page.labels %}
<a style="background-color:transparent;" class="card {% for label in filters %} {{ label | remove: " " }} {% endfor %}" {% if page.projecturl %}target="_blank"{% endif %} href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">  
  <div class="content">
    <span style="color: #01868C;" class="boldertxt header">{{ include.page.title }}</span>
    <div class="meta">
      <span style="color: #C0736B;" class="date">{{ include.page.date | date_to_string }}</span>
    </div>
    
    <div style="margin-top: 8px" class="ui mini labels">
      {% for label in include.page.labels %}
      <div style="background-color: #E0E1E2;" class="ui basic black label">{{ label }}</div>
      {% endfor %}
      {% if page.projectlabel %}
      <div style="font-family: 'Source Code Pro', monospace; background-color: transparent; color: #454545;" class="ui label">{{ include.page.projectlabel }}</div>
      {% endif %}
    </div>
    <div style="color: #3B3B3B; font-size: 14px;" class="description">
      {{ include.page.summary }}
    </div>
  </div>
</a>
