<div class="ui hidden section divider"></div>
<div class="ui hidden section divider"></div>
<div class="no-bottom ui clearing divider"></div>

<div class="ui vertical segment">
 <footer class="dt-ns dt--fixed-ns">
  <div class="dtc-ns v-mid">
     <a href="{{ site.baseurl }}/{{ site.bio-url }}">
       <img class="ui image no-bottom no-top" src="/images/d-footer.png" width="210px">
     </a>
  </div>
  <div class="dtc-ns v-mid no-top">
    Site is always in progress
  </div>
  <div class="dtc-ns v-mid no-top">
    <a href="{{ site.baseurl }}/{{ site.contact-url }}"><i style="color: #458588;" class="fitted paper plane outline icon"></i></a>
  </div>
 </footer>
</div>
