<div class="ui hidden section divider"></div>
<div class="ui hidden section divider"></div>
<div class="no-bottom ui clearing divider"></div>

<div class="ui vertical segment">
 <footer style="font-family: 'Source Code Pro', monospace;" class="dt-ns">
  <div style="padding-right: 16px;" class="dtc-ns v-mid">
     <a href="{{ site.baseurl }}/{{ site.bio-url }}">
       <span style="font-family: 'Poppins', sans-serif;">©</span> 2023 Duygu Dağdelen
     </a>
  </div>
  <div style="padding-right: 16px;" class="dtc-ns v-mid">
    <span style="font-family: 'Montserrat Alternates', sans-serif;">&lt;Site is always in progress&gt;</span>
  </div>
  <div class="dtc-ns v-mid">
    <i class="grey pills icon"></i>&nbsp;<a href="{{ site.baseurl }}/{{ site.contact-url }}" class="lined">Contact</a>
    &nbsp; <a href="{{ site.data.bio.basics.profiles[2].url }}" target="_blank" class="lined">Give Support</a>
  </div>
 </footer>
</div>
