{% assign language = include.language %}
{% if language == "pt" %}{% assign bio = site.data.bio-pt %}{% else %}{% assign bio = site.data.bio-en %}{% endif %}
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.language == language" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.language == language" %}
{% assign portfolio_pages = site.pages | where: "type", "portfolio" | where_exp: "page", "page.language == language" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}
{% assign num_portfolios = portfolio_pages.size %}

<a href="{{ site.baseurl}}/{% if language=='pt' %}en{% else %}pt{% endif %}/" class="ui button basic noborder translate-button" {% if language=='pt' %}data-tooltip="View in English" data-position="bottom right"{% else %}data-tooltip="Bekijk in het Nederlands" data-position="bottom right"{% endif %}> <i class="globe icon"></i>{% if language=='pt' %} NL {% else %} EN {% endif %}</a>

<div class="nonprintable">
 <div class="ui center aligned fluid container">

     <div style="padding-bottom: 7px; text-align: center" class="center aligned content">
       <a href="{{ site.baseurl}}/{{ language }}" class="ui tiny circular image">
        <img src="{{ bio.basics.picture }}">
       </a>
     </div>  
  
    <div class="ui compact text menu">
       {% if num_projects > 0 %}
        <a href="{{ site.baseurl}}/{{ language }}/{% if include.language == "pt" %}{{ site.projects-url-pt }}{% else %}{{ site.projects-url-en }}{% endif %}/" class="item">
          <span class="menubutton"> {% if language == "pt" %}{{ site.projects-page-label-pt }}{% else %}{{ site.projects-page-label-en }}{% endif %}</span>
        </a>
       {% endif %}
       {% if num_essays > 0 %}
         <a href="{{ site.baseurl}}/{{ language }}/{% if include.language == "pt" %}{{ site.essays-url-pt }}{% else %}{{ site.essays-url-en }}{% endif %}/" class="item">
          <span class="menubutton"> {% if language == "pt" %}{{ site.essays-page-label-pt }}{% else %}{{ site.essays-page-label-en }}{% endif %}</span>
        </a>
       {% endif %}
       {% if num_portfolios > 0 %}
        <a href="{{ site.baseurl}}/{{ language }}/{{ site.portfolio-url }}/" class="item">
          <span class="menubutton"> {% if language == "pt" %}{{ site.portfolio-page-label-pt }}{% else %}{{ site.portfolio-page-label-en }}{% endif %}</span>
        </a>
       {% endif %}
        <a href="{{ site.baseurl}}/{{ language }}/{% if include.language == "pt" %}{{ site.bio-url-pt }}{% else %}{{ site.bio-url-en }}{% endif %}/" class="item">
          <span class="menubutton"> {% if language == "pt" %}{{ site.bio-page-label-pt }}{% else %}{{ site.bio-page-label-en }}{% endif %}</span>
        </a>
     </div>

     <div class="ui hidden divider"></div>
     
  </div>
</div>

<script>

  function onStart(){
      $('.nonprintable').transition({
      animation: 'bounce in', //"in" make a reverse animation
      duration : '1s'
    });
  }

  onStart();

  $('#flip-box').hover(function() {
    $(this).toggleClass('active');
  });

</script>

<script>

  function onStart(){
      $('.translate-button').transition({
      animation: 'bounce in', //"in" make a reverse animation
      duration : '1s'
    });
  }

  onStart();

  $('#flip-box').hover(function() {
    $(this).toggleClass('active');
  });

</script>
