{% assign language = include.language %}
{% if language == "pt" %}{% assign bio = site.data.bio-pt %}{% else %}{% assign bio = site.data.bio-en %}{% endif %}
{% for profile in bio.basics.profiles %}
   <a href="{{ profile.url }}"> <i style="color:#5a5a5a;" class="big {{ profile.network | downcase }} icon icon-color"></i> </a>
{% endfor %}

{% if bio.basics.email %}
  <a href="mailto:{{ site.data.bio.basics.email }}"> <i style="color:#5a5a5a;" class="big mail outline icon icon-color"></i> </a>
{% endif %}
