<div class="ui equal width stackable grid">
    <div class="column">
        <h1 class="ui header"><span style="font-family: 'Montserrat Alternates', sans-serif;">Insert Data by Duygu</span>
          <div style="font-family: 'Source Code Pro', monospace;" class="sub header">‘Creating beauty from complexity, with Insert Data.’</div>
        </h1>
        <p style="font-size: 15px; font-family: 'Source Code Pro', monospace;">&nbsp;&nbsp;<i class="square icon"></i><a href="https://society6.com/insertdata" target="_blank" class="lined2">Prints</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="circle icon"></i><a href="https://ko-fi.com/dduyg" target="_blank" class="lined2">Downloads</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="large grey database icon"></i></p>
        <div class="ui hidden divider"></div>
        <p>Insert Data is an extension of my love for creating meaningful and beautiful things with data and code. It emerged from the exploration of innovative approaches to visually represent data.</p>
        <p>discovering the potential to create intricate designs and patterns that are not only aesthetically pleasing but also hold meaningful data.</p>
    </div>
    <div class="column">
      <div class="ui hidden divider"></div>
      <div class="ui clearing basic segment">
        <img class="ui right floated image" src="/images/insert-data-logo.png" width="55px">
        <blockquote>Data-driven creativity, at your fingertips: explore <i>Insert Data by Duygu</i> on <i class="large grey instagram icon"></i><a href="{{ site.data.bio.basics.profiles[1].url }}" class="lined2">Instagram</a>.</blockquote>               
      </div>
      <p>I now create a wide range of data design and generative art pieces, from abstract designs to more detailed pieces that depict specific datasets. Each piece is unique, and I put my heart and soul into selecting the right data and techniques to create the perfect visual representation of that data. I like pushing the boundaries of what is possible with data, and I am always looking for new ways to create beautiful and meaningful pieces.</p>
      <p>If you're looking to add a touch of wonder to your space, or would like a custom piece, don't hesitate to <a href="{{ site.baseurl }}/{{ site.contact-url }}" class="lined">contact</a> me.</p>
    </div>
</div>

<div class="ui hidden divider"></div>
