<h3 style="color: #6E6E6E; font-family: 'Montserrat Alternates', sans-serif;" class="ui header no-bottom">
  <i class="black fitted square outline icon"></i><i class="black circle outline icon"></i>
  <div class="content">
    Insert Data is my passion project, where my love for data, programming and art collide.
  </div>
</h3>

<p>It started when I was experimenting new ways to creatively visualize data. I found that I could create intricate designs and patterns that were not only pleasing to the eye but also held meaningful data. As I delved deeper into my experimentation with different data sets and programming tools, I started creating various pieces that I couldn't wait to share with the world. The positive reactions I received from friends and strangers keeps me motivated.</p>

<p>I now create a wide range of data art and generative art pieces, from abstract designs to more detailed pieces that depict specific data sets. Each piece is unique, and I put my heart and soul into selecting the right data and techniques to create the perfect visual representation of that data. I like pushing the boundaries of what is possible with data and art, and I am always looking for new ways to create beautiful and meaningful pieces.</p>

<p>If you're looking to add a touch of wonder to your space, or would like to commission a custom piece, don't 
hesitate to <a href="{{ site.baseurl}}/contact/" class="lined">contact</a> me. Thank you for joining me on this journey of turning data into art.</p>

<div class="ui hidden divider"></div>
