<div class="ui equal width stackable grid">
    <div class="column">
        <h1 class="ui header"><span style="font-family: 'Montserrat Alternates', sans-serif;">Insert Data by Duygu</span>
          <div style="font-family: 'Source Code Pro', monospace;" class="sub header">‘Creating beauty from complexity, with Insert Data.’</div>
        </h1>
        <p style="font-size: 15px; font-family: 'Source Code Pro', monospace;">&nbsp;&nbsp;<i class="square icon"></i><a href="{{ site.data.bio.basics.prints }}" target="_blank" class="lined2">Prints</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="circle icon"></i><a href="{{ site.data.bio.basics.profiles[2].url }}" target="_blank" class="lined2">Downloads</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="large grey database icon"></i></p>
        <div class="ui hidden divider"></div>
        <p>Insert Data emerged from the desire to explore innovative approaches and the aesthetic possibilities to visually represent data. By understanding the inherent power of beauty and deploying it strategically, we enhance deeper engagement and encourage users to delve deeper into the world of a data-rich visual product. Insert Data embraces blending logic and aesthetics, to create a visual experience that goes beyond the surface level, with pieces that contain valuable messages and representing complex ideas.</p>
        <p>discovering 678776 data.</p>
    </div>
    <div class="column">
      <div class="ui hidden divider"></div>
      <div class="ui clearing basic segment">
        <img class="ui right floated image" src="/images/insert-data-logo.png" width="50px">
        <blockquote>
           <p>Data-driven creativity, at your fingertips. Explore 'Insert Data by Duygu' on:</p>
           <p><i class="large grey instagram icon"></i><a href="{{ site.data.bio.basics.profiles[1].url }}" class="lined2">Instagram</a><br><i class="large grey behance square icon"></i><a href="{{ site.data.bio.basics.profiles[3].url }}" class="lined2">Behance</a></p>
        </blockquote>
      </div>
      <p>I now create a wide range of data design and generative art pieces, from abstract designs to more detailed pieces that depict specific datasets. Each piece is unique, and I put my heart and soul into selecting the right data and techniques to create the perfect visual representation of that data.</p>
      <p>Insert Data has helped people push the boundaries of what's possible with data by designing custom works for organizations that possess information they wish to explore and showcase, as well as for individuals interested in commemorating with unique personalized pieces that symbolize their life experiences, events, or milestones. I'm constantly seeking new ways to create meaningful and beautiful data-rich works. If you'd like to learn more or request a custom work, don't hesitate to <a href="{{ site.baseurl }}/{{ site.contact-url }}" class="lined2">contact</a> me so we can bounce around ideas and explore possibilities.</p>
    </div>
</div>

<div class="ui hidden divider"></div>
