{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="nonprintable">
 <nav class="db dt-l w-100 border-box pa3 ph5-l">
  <a href="{{ site.baseurl}}/" class="db dtc-l v-mid w-100 w-25-l tc tl-l mb2 mb0-l no-bottom">
    <img src="/images/start-button.png" class="dib w-logo no-bottom">
  </a>
 <div class="db dtc-l v-mid w-100 w-75-l tc tr-l no-bottom">

     <div class="ui secondary custom menu">      
       {% if num_essays > 0 %}
       <a href="{{ site.baseurl }}/{{ site.essays-url }}" class="{% if include.active == "essays" %}active {% endif %}mycolor item f6 f5-l mr3 mr4-l">
         {{ site.essays-page-label }}
       </a>
       {% endif %}

       <a href="{{ site.baseurl }}/{{ site.bio-url }}" class="{% if include.active == "bio" %}active {% endif %}mycolor item f6 f5-l mr3 mr4-l">
         {{ site.bio-page-label }}
       </a>

       {% if num_projects > 0 %}
       <a href="{{ site.baseurl }}/{{ site.projects-url }}" class="{% if include.active == "projects" %}active {% endif %}mycolor item f6 f5-l mr3 mr4-l">
         {{ site.projects-page-label }}
       </a>
       {% endif %}
     </div>
           
   </div>
 </nav>     

</div>


<script>

  function onStart(){
      $('.nonprintable').transition({
      animation: 'bounce in', //"in" make a reverse animation
      duration : '1s'
    });
  }

  onStart();

  $('#flip-box').hover(function() {
    $(this).toggleClass('active');
  });

</script>
