{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="nonprintable">
 <div class="ui center aligned fluid container">

     <div style="padding-bottom: 3px; text-align: center" class="center aligned content">
       <a href="{{ site.baseurl}}/" class="ui tiny circular image">
        <img src="/images/start-button.jpg" style="border: 2px solid black;">
       </a>
     </div>

     <div class="ui compact secondary menu">
       {% if num_essays > 0 %}
       <a href="{{ site.baseurl }}/{{ site.essays-url }}" class="{% if include.active == "essays" %}active {% endif %}mycolor item">
         <span>{{ site.essays-page-label }}</span>
       </a>
       {% endif %}

       <a href="{{ site.baseurl }}/{{ site.bio-url }}" class="{% if include.active == "bio" %}active {% endif %}mycolor item">
         <span>{{ site.bio-page-label }}</span>
       </a> 

       {% if num_projects > 0 %}
       <a href="{{ site.baseurl }}/{{ site.projects-url }}" class="{% if include.active == "projects" %}active {% endif %}mycolor item">
         <span>{{ site.projects-page-label }}</span> 
       </a>
       {% endif %}
       
       <a href="{{ site.baseurl }}/{{ site.contact-url }}" class="{% if include.active == "contact" %}active {% endif %}mycolor item">
         <span><i style="color: #458588;" class="paper plane outline icon"></i></span>
       </a>
       
     </div>

     <div class="ui hidden divider"></div>
     
  </div>
</div>

<script>

  function onStart(){
      $('.nonprintable').transition({
      animation: 'bounce in', //"in" make a reverse animation
      duration : '1s'
    });
  }

  onStart();

  $('#flip-box').hover(function() {
    $(this).toggleClass('active');
  });

</script>
