<a class="card" href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">
  
  <div class="content">
    <div class="right floated meta"><span class="date">{{ include.page.date }}</span></div>
    <img class="ui avatar image" src="/images/insertdata-logo.png">
    <h5 class="header">{{ include.page.title }}</h5>
  </div>

  {% if include.page.image %}
  <div class="image">
    <img src="{{ site.baseurl }}/{{ include.page.image }}">
  </div>
  {% endif %}

  <div class="ui bottom attached button">
   View
  </div>

</a>
