<a class="card" href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">
 
  <div class="content">
    <div class="right floated meta"><span class="date">{{ include.page.date | date: "%b, %Y" }}</span></div>
   <h5 class="ui header">
    <i class="quote left icon"></i>
    {{ include.page.title }}
   </h5>
  </div>       
    
  {% if include.page.image %}
  <div class="image">
    <img src="{{ site.baseurl }}/{{ include.page.image }}">
  </div>
  {% endif %}

  <div class="ui bottom attached grey button">
   View
  </div>

</a>
