{% assign filters = page.category | first | replace: " ", "" %}
<a class="card {{ filters }}" href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">
    
  {% if include.page.image %}
  <div class="image">
    <img src="{{ site.baseurl }}/{{ include.page.image }}">
  </div>
  {% endif %}

  <div class="content">  
    <div class="description">{{ include.page.title }} {% if page.multiple %} <span>{{ include.page.multiple }}</span> {% else %}<span></span>{% endif %}</div>
  </div>

</a>
