{% include home-buttons.html %}

<div style="height: 100%;" class="ui middle aligned two column centered stackable grid container">

  <div class="column">
    <img src="/images/homepage-image.png" width="260px">
  </div>

  <div class="column">
    <h1 style="font-family: 'Source Code Pro', monospace;"class="header no-bottom">{{ bio.basics.name }}</h1>
    <h2 style="color: #01868B; font-family: 'Source Code Pro', monospace; margin-top: 0px; padding-top: 0px" class="no-bottom">{{ bio.basics.label }}</h2>
    <p style="font-size: 17px;">
      {{ bio.basics.summary }}
   </p>
    <div class="ui hidden divider"></div>
    <p style="text-align: center">      
      {% include home-network-links.html language=language %}     
    </p>
    <p style="color: grey; text-align: center">
      <i>“If one day, my words are against science, choose science."</i>  —Mustafa Kemal Atatürk
    </p>
  </div>
</div>

<script>

  function onStart(){
      $('.column').transition({
      animation: 'fly right in', //"in" make a reverse animation
      duration : '2s'
    });
  }

  onStart();

  $('#flip-box').hover(function() {
    $(this).toggleClass('active');
  });

</script> 
