<div style="height: 60%;" class="ui middle aligned container">

<div class="ui grid">
  <div class="row"> 
    <div class="column">
     <div class="ui hidden section divider"></div>
    </div>
  </div>

    <div class="two wide column">
     <img class="ui tiny bottomm image" src="/images/input.png">     
    </div>

    <div class="fourteen wide column">
      <h2 style="font-weight: normal; font-family: 'Source Code Pro', monospace;" class="ui header no-bottom"> 
       <img class="wave ui mini image" src="/images/hand.png">
       <div style="margin-left: 0px; padding-left: 0px;" class="content">&lt;Hi, I'm <b style="color: #01868B;">Duygu</b>&gt;</div>
      </h2>
      <h1 class="ui header no-top no-bottom">
       {{ site.data.bio.basics.summary }}
      </h1>
    </div>
</div>

<div class="ui stackable grid">
  <div class="eight wide column">
    <p style="font-size: 18px;">
      And this is where I share my <a href="{{ site.baseurl }}/{{ site.essays-url }}" class="home"><b style="color: #458588;">latest data-driven creations</b><i class="pills icon"></i></a> through a variety of posts. By diving deep into data with analysis techniques and using tools like data visualization, interactive design, and helpful application development—along with a flair for creativity, I turn complex datasets and ideas into insightful stories. My goal is to showcase new ways to use data to solve problems and inspire effective, creative solutions.
      <a href="{{ site.baseurl }}/{{ site.bio-url }}" class="home">Read more about me and my approach <i class="caret square right outline icon"></i></a>
    </p>
  </div>

  <div class="eight wide column"> 
    <img class="ui centered image" src="/images/homepage-image.png" width="229px">
  </div>

  <div class="row"> 
    <div class="column">
      <p style="text-align: center">      
      {% include home-network-links.html %}     
      </p>
      <p style="color: grey; font-size: 14px; text-align: center">
      <i>“If one day, my words are against science, choose science."</i> —Mustafa Kemal Atatürk
      </p>
      <div class="ui hidden section divider"></div>
      <div class="ui hidden section divider"></div>
      {% include footer.html %}
    </div>
  </div>
</div>

</div>

<script>

  function onStart(){
      $('.column').transition({
      animation: 'fly right in', //"in" make a reverse animation
      duration : '2s'
    });
  }

  onStart();

  $('#flip-box').hover(function() {
    $(this).toggleClass('active');
  });

</script> 
