<div style="max-width: 700px; padding-top: 20px" class="ui container">

  <div style="color: #a85047;" class="ui horizontal divider medium header no-bottom">
    Conversations with open minded people are one of my favourite things.
  </div>

  <p style="font-size: 17px;"> 
    As a social creature, I love to talk with others and exchange thoughts and ideas. Every conversation is a unique opportunity to learn, grow and create something new.
  </p>

  <p style="font-size: 17px;">
    Whether you want to know more about my work or me, ask me a question, maybe share or discuss interesting thoughts, ideas, projects or just like to say hi, please don't hesitate to reach out to me. I would be happy to hear from you. You can send me a DM or reach me via email.
  </p>
 
  <div style="margin-left: auto; margin-right: auto;" class="ui icon buttons">
    {% assign language = include.language %}
    {% if language == "pt" %}{% assign bio = site.data.bio-pt %}{% else %}{% assign bio = site.data.bio-en %}{% endif %}
      {% for profile in bio.basics.profiles %}
        <a href="{{ profile.url }}" class="ui button"><i class="big {{ profile.network | downcase }} icon"></i> </a>
      {% endfor %}
      {% if bio.basics.email %}
        <a href="mailto:{{ site.data.bio.basics.email }}" class="ui button"><i class="big mail outline icon"></i> </a>
      {% endif %}
  </div>

  <img class="ui right floated bottom aligned image" src="/images/contactpage-image.png" width="210px">

</div>
