<div style="padding-top: 20px" class="ui stackable grid container">
  {% assign language = page.language %}
  {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
  {% assign essay_pages_in_lang = essay_pages | where: "language", language %}
  {% assign essay_categories = essay_pages | where: "language", language | map: "labels" | sort | uniq %}

    
{% if essay_categories.size > 1 %}
  <div class="jsOnly ui fluid floating labeled icon dropdown button">
   <i class="caret down icon"></i>
   <span class="text">Filter posts</span>
   <div class="menu">
    {% for category in essay_categories %}
      <div id="filter-{{ category | remove: " " }}" class="item">
       <a class="button ui toggle filter" href="#{{ category | remove: " " }}">{{ category }}</a>   
      </div>
    {% endfor %}
    <div id="filter-all" class="item active">{% if language == 'pt' %}Alles{%- elsif language == 'en' -%}All{% endif %}</div>
   </div>
</div>
  {% endif %}

 
 {% if essay_pages_in_lang.size > 0 %}
  <div class="ui stackable centered one doorzichtig cards" id="filterable">
      {% for page in essay_pages_in_lang %}
        {% if page.language == language %}
          {% include essay-card.html page=page %}
        {% endif %}
      {% endfor %}
  </div>
  {% endif %}

  <div class="ui hidden divider"></div>
  <img class="ui centered medium image" src="/images/1652558615417.png">

</div>

<script>
  $('.ui.dropdown')
  .dropdown();
</script>

<script src="/javascript/filters.js"></script>
