<div style="padding-top: 32px; max-width: 700px;" class="ui container">

<h2 class="ui left floated block sub header">
  Insert Data is my passion project, where my love for data, programming and art collide, fueled by my curiosity and desire to create something truly unique and mesmerizing.
</h2>

<p>It all began when I was experimenting new ways to creatively visualize data. I found that I could create intricate designs and patterns that were not only pleasing to the eye but also held meaningful data. As I delved deeper into my experimentation with different data sets and programming tools, I started creating various pieces that I couldn't wait to share with the world. The positive reactions I received from friends and strangers keeps me motivated.</p>

<p>I now create a wide range of data and generative(/algorithmic) art pieces, from abstract designs to more detailed pieces that depict specific data sets. Each piece is unique, and I put my heart and soul into selecting the right data and programming techniques to create the perfect visual representation of that data. I like pushing the boundaries of what is possible with data and art, and I am always looking for new ways to create beautiful and meaningful pieces.</p>

</div>

 
<div style="margin-top: 20px; margin-bottom: 20px" class="ui container">
   {% assign language = page.language %}
    {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
    {% assign project_pages_in_lang = project_pages | where: "language", language %}
    {% assign project_categories = project_pages | where: "language", language | map: "category" | sort | uniq %}

{% if project_pages_in_lang.size > 0 %}
  <div class="ui six doubling cards">
    {% for page in project_pages_in_lang %}
      {% if page.language == language %}
         {% unless page.draft %}
        {% include project-card.html page=page %}
         {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
 {% endif %}
</div>
