<div style="height: 100%;" class="ui middle aligned two column centered stackable grid container">

  <div class="column">
    <div style="font-family: 'Source Code Pro', monospace;" class="ui right aligned large header no-bottom"> Always happy to hear from you </div>
    <p style="font-size: 16px; text-align: right"> If you want to know more about my work or me, or if you would just like to say hello, send me a message and tell me what you have in mind. I'd love to hear from you.</p> 
  <div class="ui hidden divider"></div>
    <p align="right">
       {% assign language = include.language %}
       {% if language == "pt" %}{% assign bio = site.data.bio-pt %}{% else %}{% assign bio = site.data.bio-en %}{% endif %}
         {% for profile in bio.basics.profiles %}
           <a href="{{ profile.url }}"> <button class="ui black icon button"><i class="big {{ profile.network | downcase }} icon"></i> </button></a>
         {% endfor %}

         {% if bio.basics.email %}
           <a href="mailto:{{ site.data.bio.basics.email }}"> <button class="ui black icon button"><i class="big mail outline icon"></i> </button></a>
         {% endif %}
    </p>
  </div>

  <div class="column">
    <div class="ui medium image">
      <img src="/images/1652497926305.png">
    </div>
  </div>

</div>
