<div style="margin-top: 62px; font-size: 18px; line-height: 1.7;" class="ui container">
  {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
  {% assign project_categories = project_pages | where: "type", "project" | map: "category" | sort | uniq %}
  {% include insert-data-intro.html %}

  <h3 class="ui horizontal center aligned divider header no-bottom">
   <i style="background-color: #454545;" class="circular inverted expand icon"></i>
  </h3>
  <h3 style="color: #454545; font-family: 'Source Code Pro', monospace; margin-top: 4px;" class="ui center aligned header"> Selected works</h3>

  {% if project_categories.size > 1 %}
    <div class="nonprintable jsOnly ui fluid two item secondary pointing menu">
      {% for category in project_categories %}
       {% if category == "Data Design" %}
        <a class="item filter active" href="#{{ category | remove: " " }}" id="filter-{{ category | remove: " " }}">{{ category }}</a>
       {% else %}  
        <a class="item filter" href="#{{ category | remove: " " }}" id="filter-{{ category | remove: " " }}">{{ category }}</a>
       {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <div class="ui shape" id="filterable">
    <div class="sides">
      {% for page in project_pages %}
        {% unless page.draft %}
          <div class="side">
            <a class="card {% for label in page.category %} {{ label | remove: " " }} {% endfor %}" href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ page.url }}{% endif %}">
              {% if page.image %}
                <div class="image">
                  <img src="{{ site.baseurl }}/{{ page.image }}">
                </div>
              {% endif %}
              <div class="content">
                <div class="description">{{ page.title }} {% if page.multiple %} <span>{{ page.multiple }}</span> {% else %}<span></span>{% endif %}</div>
              </div>
            </a>
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>

  {% include footer.html %}

</div>


<script src="/javascript/filters-insertdata.js"></script>
<script>
  $(document).ready(function() {
  $('.shape').shape();

  $('#flipRightButton').on('click', function() {
    $('.shape').shape('flip right');
  });
});
</script>
