<div style="padding-top: 20px" class="ui container">
  {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
  {% assign essay_categories = essay_pages | where: "type", "essay" | map: "labels" | sort_natural | uniq %}

<div style="padding-top: 15px" class="ui stackable grid">
   <div class="ten wide column"><h1 class="ui header">Latest Posts</h1></div>

  <div class="six wide column">
  {% if essay_categories.size > 1 %}
    <div class="nonprintable jsOnly ui fluid two item compact menu">
     <div class="view item filter active" href="#" id="filter-all">View All</div>       
     <div class="ui dropdown item">
       <i class="caret down icon"></i>
       <div class="text">Filter by tag</div>
       <div class="menu">
         <div class="ui icon search input"> 
         <i class="search icon"></i> 
         <input type="text" placeholder="Search tags..."> 
       </div>
       <div class="scrolling menu">
        {% for category in essay_categories %}
        <div class="item filter" href="#{{ category | remove: " " }}" id="filter-{{ category | remove: " " }}">{{ category }}</div>
        {% endfor %}
       </div>
     </div>
    </div>
   </div>
  {% endif %}
  </div>

</div>
<div class="ui hidden divider"></div>

  <div class="ui stackable centered three doorzichtig cards" id="filterable">
      {% for page in essay_pages %}
        {% unless page.draft %}
          {% include essay-card.html page=page %}
        {% endunless %}
      {% endfor %}
  </div>

  <div class="ui hidden section divider"></div>
  <img class="ui image" src="/images/blogpage-image.png" width="250px">

  {% include footer.html %}

</div>

<script>
  $('.ui.dropdown')
  .dropdown();
</script>

<script src="/javascript/filters-posts.js"></script>
