<div style="margin-top: 80px; " class="ui stackable container">

  <img class="ui small centered image" src="/images/profil.png">
  <div style="font-family: 'Source Code Pro', monospace; margin-top: 0px; padding-top: 0px; text-align: center" class="meta"> Data Scientist </div>
  
  <div style="font-size: 16px; line-height: 1.4; text-align: center" class"content">
  {% include bio-intro.html %}
  {% include bio-extra.html %}
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div style="font-size: 16px; line-height: 1.4; text-align: center" class"content">
  {% include bio-tabs.html %}
  </div>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

</div>
