<div style="margin-top: 80px; " class="ui stackable grid container">
  <img class="ui small centered image" src="{{ bio.basics.picture }}">
  <div style="margin-top: 0px; padding-top: 0px;" class="ui center aligned header no-bottom"> Duygu Dağdelen </div>
  <div style="color: rgba(0, 0, 0, 0.4); font-family: 'Source Code Pro', monospace; text-align: center" class="meta"> Data Scientist </div>
</div>



  <div style="font-size: 16px; line-height: 1.4; text-align: center" class"content">
  {% include bio-nice2meetyou.html %}
  {% include bio-skillset.html %}
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div style="font-size: 16px;" class"content"> 
  {% include bio-mylessons.html %}
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div style="font-size: 16px;" class"content"> 
  {% include bio-howilearn.html %}
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div style="font-size: 16px;" class"content"> 
  {% include bio-favquotes.html %}
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div style="font-size: 16px;" class"content"> 
  {% include bio-currentgoals.html %}
  </div>
  <div class="ui hidden divider"></div>


