<div style="max-width: 700px; padding-top: 20px" class="ui container">
  {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
  {% assign essay_pages_in_lang = essay_pages | where: "language", language %}
  {% assign essay_categories = essay_pages | where: "language", language | map: "labels" | sort_natural | uniq %}

<div style="padding-top: 15px" class="ui stackable grid container">
  <div class="row">
  <div class="ten wide column"><h2 style="color: #5A5A5A; font-family: 'Source Code Pro', monospace;" class="no-bottom"> Latest Posts </h2></div>
  <div class="six wide column"> 
    
{% if essay_categories.size > 1 %}
<div class="nonprintable jsOnly ui fluid floating labeled icon dropdown button">
   <i class="caret down icon"></i>
   <span class="text">{% if language == 'pt' %}Filter op tag{%- elsif language == 'en' -%}Filter by tag{% endif %}</span>
   <div class="menu">
      <div class="ui icon search input"> 
        <i class="search icon"></i> 
        <input type="text" placeholder="{% if language == 'pt' %}Zoek tags...{%- elsif language == 'en' -%}Search tags...{% endif %}"> 
      </div>
     <div class="divider"></div>
      <div class="item filter active" href="#" id="filter-all"> <i class="large bars icon"></i>{% if language == 'pt' %} Alle Posts {%- elsif language == 'en' -%} Show All Posts {% endif %}</div>       
     <div class="scrolling menu">
      {% for category in essay_categories %}
      <div class="item filter" href="#{{ category | remove: " " }}" id="filter-{{ category | remove: " " }}">{{ category }}</div>
    {% endfor %}
     </div>
   </div>
</div>
  {% endif %}

  </div>
  </div>
</div>

<div class="ui hidden divider"></div>

 {% if essay_pages_in_lang.size > 0 %}
  <div class="ui stackable centered one doorzichtig cards" id="filterable">
      {% for page in essay_pages_in_lang %}
        {% if page.language == language %}
          {% unless page.draft %}
             {% include essay-card.html page=page %}
          {% endunless %}
        {% endif %}
      {% endfor %}
  </div>
  {% endif %}

  <div class="ui hidden section divider"></div>
  <img class="ui image" src="/images/blogpage-image.png" width="270px">

  {% include footer.html %}

</div>

<script>
  $('.ui.dropdown')
  .dropdown();
</script>

<script src="/javascript/filters.js"></script>
