<div style="font-size: 18px;" class="ui container">

<div class="ui centered grid">
   <div class="row"> 
      <div class="column">
        <div class="ui hidden section divider"></div>
      </div>
    </div>
 
    <div class="two wide column">
        <img class="ui tiny bottomm image" src="/images/input.png">     
    </div>

    <div class="fourteen wide column">
        <div style="display: flex; align-items: center;">
           <i style="margin-right: 11px; font-size: 1.8em;" class="icon-color sitemap icon"></i>
           <h2 style="margin: 0; font-weight: normal; font-family: 'Source Code Pro', monospace;" class="ui header intro-l2">&lt;<span style="color: #01868B;">D</span>uygu <span style="color: #01868B;">D</span>ağdelen&gt;</h2>
        </div>
        <div class="ui large header intro-l no-top no-bottom">
          {{ site.data.bio.basics.summary }}
        </div>
        <div class="ui hidden divider"></div>
    </div>
</div>

<div class="ui middle aligned stackable grid">
  <div class="seven wide column">
      <p>This is where you can find a <a href="{{ site.baseurl }}/{{ site.essays-url }}" class="home">curated collection <i style="color: #458588;" class="fitted pills icon"></i></a> of my most recent data-driven creations, conveniently presented through a variety of insightful posts. My goal is to showcase new ways to use data to solve problems and inspire fresh, creative solutions.</p>    
      <p>As a data scientist with a flair for creativity, I bring data to life by developing data products that convey ideas and provide tangible impact. I partner with nice people all over the vast internet, to create personalized solutions that turn complex datasets into valuable assets.
         <a href="{{ site.baseurl }}/{{ site.bio-url }}" class="home"><b>More about me and my approach</b> <i class="caret square right outline icon"></i></a>
      </p>
  </div>

  <div class="nine wide column"> 
    <img class="no-top ui centered image" src="/images/homepage-image.png" width="250px">
  </div>

  <div class="row"> 
    <div class="column">
      <p style="font-size: 15px; text-align: center">      
      {% include home-network-links.html %}     
      </p>
      <p style="color: grey; font-size: 14px; text-align: center">
      <i>“If one day, my words are against science, choose science."</i> —Mustafa Kemal Atatürk
      </p>
      <div class="ui hidden section divider"></div>
      <div class="ui hidden section divider"></div>
      <div class="ui hidden section divider"></div>
      {% include footer.html %}
    </div>
  </div>
</div>

</div>

<script>

  function onStart(){
      $('.column').transition({
      animation: 'fly right in', //"in" make a reverse animation
      duration : '2s'
    });
  }

  onStart();

  $('#flip-box').hover(function() {
    $(this).toggleClass('active');
  });

</script>
