{% assign current = include.current %}
{% assign interests = include.interests %}
{% assign languages = include.languages %}
{% assign education = include.education %}
{% assign profissional = include.profissional %}
{% assign volunteer = include.volunteer %}
{% assign certificates = include.certificates %}
{% assign awards = include.awards %}
{% assign skills = include.skills %}
{% if include.bio == "pt" %}{% assign bio = site.data.bio-pt %}{% else %}{% assign bio = site.data.bio-en %}{% endif %}

<div class="cv" style="margin-top: 10px; margin-bottom:6em;">
  
  {% if bio.education %}
  <div style="margin-bottom: 20px" class="ui one column stackable grid container" id="{{ education | remove: ' ' }}">
    <div class="row">
      <div class="column">
        <h4 class="ui horizontal left aligned divider header">
          <i class="graduation cap icon"></i>
          {{ education }}
        </h4>
        <div class="ui three stackable cards"  style="padding-top: 6px;">
          {% for educ in bio.education %}
          <div class="ui card {% if educ.endDate == current %}yellow{% else %}green{% endif %}">
            <div class="content">
              {% if educ.website.size >= 1 %}
              <a class="ui top attached grey label" href="{{ educ.website }}" target="_blank"><i class="map marker alternate icon"></i>{{ educ.institution }}</a>
              {% else %}
              <div class="ui top attached grey label">
                <i class="map marker alternate icon"></i>{{ educ.institution }}
              </div>
              {% endif %}
              <div class="header">{{ educ.area }}</div>
              <div class="meta">
                <p>{{ educ.studyType }}</p>
              </div>
              <div class="description">
              </div>
            </div>
            <div class="extra content">
              {% assign start = {{educ.startDate | date: "%m" | plus: 0 }} %}
              {% assign end = {{educ.endDate | date: "%m" | plus: 0 }} %}
              <div class="right floated"><i class="calendar icon"></i>{{ educ.startDate | date: "%Y" }}.{% if start > 6 %}2{% else %}1{% endif %} - {% if educ.endDate == current %}{{ educ.endDate | date: "%Y" }}{% else %}{{ educ.endDate | date: "%Y" }}.{% if end > 6 %}2{% else %}1{% endif %}{% endif %}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
 
  <div style="margin-bottom: 20px" class="ui two column stackable grid container">
  {% if bio.certificates %}
    <div class="column" id="{{ certificates | remove: ' ' }}">
      <h4 class="ui horizontal left aligned divider header">
        <i class="certificate icon"></i>
        {{ certificates }}
      </h4>

      <div class="ui top attached tabular menu jsOnly">
      {% assign certificate_category = bio.certificates | map: "category" | uniq %}
      {% for category in certificate_category %}
          <a class="item" data-tab="{{ category }}">{{ category }}</a>
      {% endfor %}
      </div>

      {% for category in certificate_category %}
      <div class="ui bottom attached tab segment" data-tab="{{ category }}">
        <div class="ui relaxed divided bulleted list">
        {% for certificate in bio.certificates %}
          {% if certificate.category == category %}
          <div class="item">
            <div class="content">
              {% if certificate.url %}
              <a href="{{certificate.url}}" target="_blank" class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></a>
              {% else %}
              <div class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></div>
              {% endif %}
              {{ certificate.summary }}
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endfor %}
      
      <noscript>
      <div class="ui segment">
        <div class="ui relaxed divided bulleted list">
          {% for certificate in bio.certificates %}
          <div class="item">
            <div class="content">
              {% if certificate.url %}
              <a href="{{certificate.url}}" target="_blank" class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></a>
              {% else %}
              <div class="header">{{ certificate.title }}, <i>{{ certificate.issuer }}, {{ certificate.date }}</i></div>
              {% endif %}
              {{ certificate.summary }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </noscript>
    </div>
  {% endif %}
  {% if bio.awards %}
    <div class="column" id="{{ skill.name | remove: ' ' }}">
      <h4 class="ui horizontal left aligned divider header">
        <i class="award icon"></i>
        {{ awards }}
      </h4>
      <div class="ui segment">
        <div class="ui relaxed divided bulleted list">
          {% for award in bio.awards %}
          <div class="item">
            <div class="content">
              {% if award.url %}
              <a href="{{award.url}}" target="_blank" class="header">{{ award.title }}, <i>{{ award.awarder }}, {{ award.date }}</i></a>
              {% else %}
              <div class="header">{{ award.title }}, <i>{{ award.awarder }}, {{ award.date }}</i></div>
              {% endif %}
              {{ award.summary }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  {% endif %}
    </div>
  </div>
  


</div>

<script>
  $('.menu .item')
    .tab();
</script>
