
  
    <h4 class="ui horizontal left aligned divider header">
        <i class="certificate icon"></i>
        {{ certificates }}
      </h4>
      
      
  {% if bio.awards %}
    <div class="column" id="{{ skill.name | remove: ' ' }}">
      <h4 class="ui horizontal left aligned divider header">
        <i class="award icon"></i>
        {{ awards }}
      </h4>
      <div class="ui segment">
        <div class="ui relaxed divided bulleted list">
          {% for award in bio.awards %}
          <div class="item">
            <div class="content">
              {% if award.url %}
              <a href="{{award.url}}" target="_blank" class="header">{{ award.title }}, <i>{{ award.awarder }}, {{ award.date }}</i></a>
              {% else %}
              <div class="header">{{ award.title }}, <i>{{ award.awarder }}, {{ award.date }}</i></div>
              {% endif %}
              {{ award.summary }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  {% endif %} 
