---
layout: essays
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/markdown.css">
<div style="font-size: 18px; margin-top: 20px;" class="ui container">

  <div style="font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;" class="ui breadcrumb">
     <a href="{{ site.baseurl}}/" class="section breadlink">Home</a>
     <i class="right chevron icon divider"></i>
     <a href="/{{ site.essays-url }}" class="section breadlink">{{ site.essays-page-label }}</a>
     <i class="right chevron icon divider"></i>
  </div>

  <h1 style="color: #262626; font-size: 2em; font-family: 'Poppins', sans-serif;" class="no-top">{{ page.title }}

  <span style="font-size: 14px; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
   {% if page.mediumurl and page.githuburl %}
          <a href="{{ page.mediumurl }}" target="_blank">
            <button style="margin-left: 5%; background-color: #E0E1E2;" class="compact tiny ui labeled icon mu button">
              <i class="bordered inverted black fitted medium m icon"></i> Read/Save on Medium
            </button>
          </a>
          <a href="{{ page.githuburl }}" target="_blank">
            <button style="margin-left: 5%;" class="compact small ui black button">
              <i class="github icon"></i> Source code
            </button>
          </a>   
    {% elsif page.mediumurl %}
          <a href="{{ page.mediumurl }}" target="_blank">
            <button style="margin-left: 5%; background-color: #E0E1E2;" class="compact tiny ui labeled icon mu button">
              <i class="bordered inverted black fitted medium m icon"></i> Read/Save on Medium
            </button>
          </a>
    {% elsif page.githuburl %}
          <a href="{{ page.githuburl }}" target="_blank">
            <button style="margin-left: 5%;" class="compact small ui black button">
              <i class="github icon"></i> Source code
            </button>
          </a>
    {% else %}
          <div class="ui hidden divider"></div>
    {% endif %}
  </span>
  </h1> 

  <div style="font-size: 15px; font-family: 'Source Code Pro', monospace;"> ▉ {{ page.date | date_to_string }}&nbsp; &nbsp; &nbsp; ▉ <a href="{{ site.baseurl }}/{{ site.bio-url }}" class="lined">Duygu Dağdelen</a></div>
  {{ content }}
  {% include footer.html %}
        
</div>
