---
layout: essays
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/markdown.css">

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">

    {% if page.language == 'pt' %}
    <div class="ui breadcrumb">
        <a href="/pt/" class="section breadlink">Início</a>
        <i class="right chevron icon divider"></i>
        <a href="/pt/{{ site.essays-url-pt }}" class="section breadlink">{{ site.essays-page-label-pt }}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{{ page.title }}</div>
    </div>
    {% elsif page.language == 'en' %}
    <div class="ui breadcrumb">
        <a href="/en/" class="section breadlink">Home</a>
        <i class="right chevron icon divider"></i>
        <a href="/en/{{ site.essays-url-en }}" class="section breadlink">{{ site.essays-page-label-en }}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{{ page.title }}</div>
    </div>
    {% endif %}
    
       <h1 style="color: #00606E;font-family: 'Source Code Pro', monospace;">{{ page.title }}</h1>
       <span class="date"> <img class="ui avatar image" src="/images/profil.png"> <span style="font-size: 14px;">Last updated on {{ page.date | date_to_string }}</span> </span> 
     
       <div style="margin: 8px 0px 0px 30px;" class="ui mini labels">
         {% for cat in page.labels %}
         <div style="background-color: transparent;" class="ui blgtag basic label">{{ cat }}</div>
         {% endfor %}
       </div>

       <div class="ui hidden divider"></div>
       {{ content }}
       <div class="ui hidden divider"></div>
    
</div>
