---
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/404.css">

{% include menubar.html active="404" %}


<main class="bsod container">
  <img class="no-bottom ui centered image" src="/images/missingpage-image.png" width="230px">  
  <h1 class="neg title no-top no-bottom"><span class="bg">404</span></h1>
  <p style="font-size: 18px;">We couldn't find the page you're looking for, it could have been moved or removed. You can try:</p>
  <p style="font-size: 18px;">* Return to the homepage.<br>
  * Send an e-mail about this error and try again later.</p>
  <nav style="font-size: 20px;" class="nav">
    <a href="{{ site.baseurl }}/" class="link">home</a>&nbsp;|&nbsp;<a href="mailto:{{ site.data.bio.basics.email }}?subject=Error message on dduyg.github.io" target="_blank" class="link">e-mail</a>
  </nav>
</main>
