---
layout: projects
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/markdown.css">

<div style="font-size: 18px; margin-top: 20px;" class="ui container">

   <div style="font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;" class="ui breadcrumb">
      <a href="{{ site.baseurl}}/" class="section breadlink">Home</a>
      <i class="right chevron icon divider"></i>
      <a href="/{{ site.projects-url }}" class="section breadlink">{{ site.projects-page-label }}</a>
      <i class="right chevron icon divider"></i>
   </div>

   {% for cat in page.category %}
   {% if page.multiple %}
        
     <div class="ui stackable grid">
       <div class="eleven wide column">
           <h1 style="color: #262626; font-size: 1.714em; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;">{{ page.title }}</h1>
             {{ content }}
           <div class="ui hidden divider"></div>  
   
           <div style="color: black; font-family: 'Source Code Pro', monospace;" class="ui tertiary segment"> 
              <h3 style="font-family: 'Montserrat Alternates', sans-serif;" class="ui horizontal left aligned divider header">
                 <i class="fitted square outline icon"></i> <i class="circle outline icon"></i>
                 <div class="content">Explore this work</div>
              </h3>
              <img style="border: 1px solid black;" class="ui right floated image" src="{{ site.baseurl }}/{{ page.image }}" width="105px">
              <p>To elevate your space, a range of options are available on <a href="{{ page.printsurl }}" target="_blank" class="lined2">Society6</a>. {% if page.kofiurl %}You can also <a href="{{ page.kofiurl }}" target="_blank" class="lined2">download</a> a digital version.{% endif %} {% if page.instaurl %}In addition, you can save or share the <a href="{{ page.instaurl }}" target="_blank" class="lined2">Instagram</a> post of this work for future inspiration.{% endif %}</p> 
              <p>If you have any questions, comments or requests regarding this work or any of my other works, <a href="{{ site.baseurl }}/{{ site.contact-url }}" class="lined2">send</a> me a message and let's talk.</p>
           </div>
       </div> 
       <div class="five wide column">
             <div class="ui one cards">
               {% for work in page.multipleworks %}
               <a class="card" href="{{ work[0] }}">
                 <div class="image"><img src="{{ work[1] }}"></div>
                 <div class="content">  
                  <div class="description">{{ work[2] }}</div>
                 </div>
               </a>
               {% endfor %}
              </div>
        </div>
     </div>

    {% elsif cat == "Data Visualization" %}

       <h1 style="color: #262626; font-size: 1.714em; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;" class="no-top">{{ page.title }}</h1>
       {{ content }}
       <div class="ui hidden divider"></div>
 
    {% else %}

     <div class="ui stackable grid">
         <div class="nine wide column">         
             <h1 style="color: #262626; font-size: 1.714em; font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;">{{ page.title }}</h1>
             {{ content }}
         </div> 
         <div class="seven wide column">
              <div style="color: black; font-family: 'Source Code Pro', monospace;" class="ui tertiary segment"> 
                <h3 style="font-family: 'Montserrat Alternates', sans-serif;" class="ui horizontal left aligned divider header">
                   <i class="fitted square outline icon"></i> <i class="circle outline icon"></i>
                   <div class="content">Explore this work</div>
                </h3>
                <img style="border: 1px solid black;" class="ui right floated image" src="{{ site.baseurl }}/{{ page.image }}" width="105px">
                <p>To elevate your space, a range of options are available on <a href="{{ page.printsurl }}" target="_blank" class="lined2">Society6</a>. {% if page.kofiurl %}You can also <a href="{{ page.kofiurl }}" target="_blank" class="lined2">download</a> a digital version.{% endif %} {% if page.instaurl %}In addition, you can save or share the <a href="{{ page.instaurl }}" target="_blank" class="lined2">Instagram</a> post of this work for future inspiration.{% endif %}</p> 
                <p>If you have any questions, comments or requests regarding this work or any of my other works, <a href="{{ site.baseurl }}/{{ site.contact-url }}" class="lined2">send</a> me a message and let's talk.</p>
              </div>
          </div> 
     </div>
     {% endif %}
     {% endfor %}
     {% include footer.html %}
</div>
