---
layout: projects
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/markdown.css">

<div style="margin-top: 20px; margin-bottom: 20px" class="ui text container">

  {% if page.language == 'pt' %}
        <div class="ui breadcrumb">
            <a href="/pt/" class="section breadlink">Home</a>
            <i class="right chevron icon divider"></i>
            <a href="/pt/{{ site.projects-url-pt }}" class="section breadlink">{{ site.projects-page-label-pt }}</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">{{ page.title }}</div>
        </div>
        {% elsif page.language == 'en' %}
        <div class="ui breadcrumb">
            <a href="/en/" class="section breadlink">Home</a>
            <i class="right chevron icon divider"></i>
            <a href="/en/{{ site.projects-url-en }}" class="section breadlink">{{ site.projects-page-label-en }}</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">{{ page.title }}</div>
        </div>
   {% endif %} 
      
        <div class="ui hidden divider"></div>
        <h1 style="color: #01868B;font-family: 'Source Code Pro', monospace;"> {{ page.title }}</h1>

        {% if page.multiple %}
        <p>{{ content }}</p>
        <div class="ui hidden divider"></div>
  
        {% else %}
        <div class="ui stackable grid">
           <div class="twelve wide column">
              <p>{{ content }}</p>   
              <div class="ui hidden divider"></div>
   
              <h4 class="ui horizontal left aligned divider header"> <i class="black fitted square outline icon"></i><i class="black circle outline icon"></i> </h4>
              <p>
                <span style="color: #01868B; font-family: 'Source Code Pro', monospace;">Explore this work</span> <br>
                 A range of options are available on <a href="{{ page.printsurl }}" target="_blank" class="lined">Society6</a>, to elevate your space. {% if page.kofiurl %}You can also <a href="{{ page.kofiurl }}" target="_blank" class="lined">download</a> a digital version.{% else %}<span></span>{% endif %} {% if page.instaurl %}In addition, you can save or share on <a href="{{ page.instaurl }}" target="_blank" class="lined">Instagram</a> for future inspiration.{% else %}<span></span>{% endif %}
              </p> 
              <p>
                 If you have any questions, comments or requests regarding this work or any of my other works, <a href="{{ site.baseurl}}/en/contact/" class="lined">send</a> me a message and let's talk.
              </p>
           </div> 
  
           <div class="four wide column"></div> 
        </div>
       {% endif %} 


</div>
